body {
  background-color: rosybrown;
  font-family: Arial, sans-serif;
}

p {  
  margin-top:5px;
  margin-bottom:5px;
}

a {
  text-decoration: none;
}

.business-card {
  width: 300px;
  padding: 20px;
  margin: 100px auto 0 auto;
  font-size: 16px;
  border: 3px solid black;
  background-color: white;
  text-align: center;
}

.profile-image {
  max-width: 100%;
}

.social-media > a {
  color: green;
}

.full-name {
  font-size: 30px;
}

.designation {
  color: gray;
}

.company {
  color: lightgray;
}