            body {
                font-family: Arial, Helvetica, sans-serif;
            }

            img {
                border-radius: 100%;
                object-fit: cover;
                max-width: 70px;
                cursor: pointer;
            }
            img:hover {
                transform: scale(1.1);
                transition: transform 0.4s ease-in-out;
            }

            h3 {
                margin-bottom: 5px;
                cursor: pointer;
            }
            h3:hover {
                text-decoration: underline rgb(0, 119, 255);
                transition: text-decoration 0.3s ease-in-out;
            }

            p {
                margin-top: 5px;
                color: gray;
            }

            button {
                background-color: rgb(0, 119, 255);
                border: none;
                border-radius: 5px;
                padding: 10px 17px;
                color: white;
                font-weight: bolder;
                cursor: pointer;
            }
            button:hover {
                opacity: 0.7;
                transform: scale(1.1);
                transition: transform 0.4s ease-in-out;
            }
            button:active {
                background-color: blue;
            }
